.sudoku-box {
    /* border: 4px solid var(--Secondary-gray); */
}
.generate-btn {
    background: var(--Primary-blue);
    color: #fff;
    border: none;
}

.row {
    display: flex;
    border-right: 4px solid red;
}

.numBox {
    width: var(--InputNumBox);
    aspect-ratio: 1;
    flex: 1;

    font-size: 1.5rem;
    color: var(--Primary-blue);
    text-align: center;

    border: none;
}

.numBox:focus {
    outline: none;
}
