/* Google font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --Primary-blue: #307df6;
}

.App {
    margin: 5em auto;
    width: 70%;
    max-width: 900px;
}

.Upper {
    min-height: 212px;
    margin-bottom: 3em;
}

.dimension-choice {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
}

.dimension-choice button {
    /* width: 70px; */
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;

    transition: all 0.5s ease-in-out;
}

.dimension-choice button:hover {
    color: #b80707;
    border: 2px solid #b80707;
}
.dimension-choice button.active {
    color: red;
    border: 2px solid red;
}

.dimension-choice button:disabled {
    pointer-events: none;
}

.custom-choice {
    display: flex;
    gap: 1em;
    align-items: center;
}

.custom-choice p {
    font-size: 1.2rem;
    font-weight: 500;
}
.custom-choice input {
    padding: 0.4em;
    font-size: 0.75rem;
}

.row {
    display: flex;
}

.numBox {
    width: 50px;
    padding: 20px;
    aspect-ratio: 1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    border: 1px solid black;
}

.generate-btn,
.solve-btn {
    padding: 0.5em 2em;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.generate-btn {
    background: var(--Primary-blue);
    color: #fff;
    border: none;
}

.solve-btn {
    color: var(--Primary-blue);
    background: #fff;
    border: 2px solid var(--Primary-blue);
}
